<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Some of your ideas for next YouTube videos</p>
    <hr class="my-4">
    <a href="/ideas/add" class="btn btn-dark btn-lg">Add Video</a>
</div>